<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848742910697-he8q3sctoskmolfb1ii8ipd2pbdpn0c7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848742910697-he8q3sctoskmolfb1ii8ipd2pbdpn0c7</string>
	<key>API_KEY</key>
	<string>AIzaSyD7m_I76tLTcoSmKec-iUDAaaNZj9I6HqI</string>
	<key>GCM_SENDER_ID</key>
	<string>848742910697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jio.osephhartono.MilluApplication</string>
	<key>PROJECT_ID</key>
	<string>milluapplication-bba18</string>
	<key>STORAGE_BUCKET</key>
	<string>milluapplication-bba18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848742910697:ios:e93e8386bc991fc6057e78</string>
</dict>
</plist>